

@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    /* display: flex;
    flex-direction: column; */
    background-color: #191A19;
    color: #D8E9A8;
    font-family: Istok;
    font-size: 1.3rem;
    height: 100vh;
}

p {
    padding: 0;
    margin: 0;
}

/* .overall {
    width: 100%;
    height: 100%;
    background-color: #191A19;
} */

a {
    text-decoration: none;
    color: #D8E9A8;
}

.panel {
    display: flex;
    flex-direction: column;
    background: #1E5128;
    width: 100vw;
    padding-bottom: 20px;
    position: relative;
    top: -10px;
    left: -10px;
}

.header {
    /* box-sizing: border-box; */
    /* border-radius: 20px; */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    /* border: 0; */
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 80px; */
    padding: 20px;
    margin: 0px;
}

.header .title {
    margin-left: 30px;
    font-size: 2.5rem;
    font-weight: 700;
}

.header > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.5rem;
    margin-right: 20px;
    /* flex-shrink: 1; */
    min-width: 200px;
}

.hero {
    box-sizing: border-box;
    display: flex;
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    gap: 350px;
    justify-content: center;
    align-items: center;
    /* padding: 10px 20px; */
    width: 100vw;
}

.website {
    display: flex;
    flex-direction: column;
    margin: 0;
}

span {
    color: white;
    font-size: 3rem;
}

.website.title {
    font-size: 2rem;
    /* color: white; */
    font-weight: 600;
    /* text-align: center; */
}

.placeholder {
    border-radius: 10px;
    margin: 30px 40px;
    width: 450px;
    /* position: relative; */
    /* left: -20px; */
}

button.signup {
    background-color: #4E9F3D;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    width: 90px;
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px;
    font-size: 1rem;
}

.main {
    display: flex;
    margin: 20px;
    flex-direction: column;
    /* background: darkgreen; */
    /* padding: 0; */
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.information .title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.images {
    display: flex;
    gap: 80px;
}

.images img {
    border: 2px solid #4E9F3D;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.images p {
    padding: 0px;
    margin-top: 5px;
    text-align: center;
    width: 200px;
}

.images div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 100vw;
    /* margin: 0; */
    /* border: 0; */
    margin-top: 30px;
    height: 250px;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* color: #; */
    position: relative;
    left: -30px;
}

.quote .content {
    font-style: italic;
    color: #191A19;
    font-size: 1.7rem;
}

.quote .author {
    font-weight: 600;
    font-size: 1.5rem;
    color: #191A19;
    position: relative;
    left: 220px;
    /* align-self: flex-end; */
}

.action {
    background-color: #4E9F3D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    height: 200px;
    width: 70vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.action .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: ; */
}

.action .title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.action button {
    border: 2px solid #1E5128;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-size: 1rem;
}

.footer {
    background-color: #1E5128;
    height: 50px;
    width: 100vw;
    position: relative;
    left: -10px;
    text-align: center;
    padding-top: 40px;
}

